

.sdr-dashboard-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
 }
 .sdr-dashboard-head h2 {
    margin: 0;
     font-size: 26px;
     color: #333333de;
     font-family: MyriadPro-Regular;
 }
 
 .heading{
    flex: 1;
    width: 60%;
    margin: 0;
 }
 .header-btns-filters{
    flex: 2;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-end;
 }
 .sdr-dashboard-search{
    width: 50%;
    padding: 10px;
    position: relative;
 }
 
 .search-fld{
    height: auto;
    line-height: 40px;
    border: 1px solid #dededf;
    border-radius: 4px;
    background: #fff url(../../assets/images/search.svg) no-repeat
      scroll 13px 15px;
    padding: 0 30px 0 40px;
    width: 100%;
    font-size: 13px;
    color: #333;
    font-family: MyriadPro-Regular;
 }
 .search-close{
    position: absolute;
    top: 20px;
    right: 15px;
    display: inline-block;
 }
 .sdr-status-filter{
    width: 30%;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
 }
 .sdr-status-filter.ant-select-selector{
    width: 100%;
    display: block;
 }

 .header-block-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
  }
  .hbr-item1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hbr-item2{
    display: block;
  }

  .dot-pending {
    height: 15px;
    width: 15px;
    background-color:rgb(242, 216, 168);
    border-radius: 50%;
    display: inline-block;
    margin: 2px;

}

 .dot-approved {
    height: 15px;
    width: 15px;
    background-color:#adefc0;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
 }

 .dot-rejected {
    height: 15px;
    width: 15px;
    background-color:rgb(225 95 95 / 63%);
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
 }

 .add-btn{
    background: #1268b3;
   border: 0;
   width: 175px; 
   height: 40px;
   padding: 2px;
   border-radius: 4px;
   font-family: MyriadPro-Semibold;
   font-size: 13px;
   letter-spacing: 0.03px;
   color: #ffffff;
   cursor: pointer;
  }

  .add-btn img {
    padding-bottom: 3px;
 }


