/* .help-section {
    display: block;
    border-radius: 0 50px 50px 0;
    text-align: center;
    background: transparent;
    color: #fff;
    font-size: 13px;
    font-family: 'MyriadPro-Semibold';
    padding: 10px 15px 15px 5px;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0;
}
  
 .help-section .anticon svg {
    width: 24px;
    height: 24px;
  } */
