.tabs {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 10px;
}

.tabs .tab-op {
  color: #1268b3;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  height: max-content;
  margin-right: 8px;
  padding: 10px 11px;
  background-color: rgba(243, 243, 243, 255);
  font-family: MyriadPro-Semibold;
  font-size: 13px;
}

.tabs .active {
  border-bottom: 4px solid #1360d4;
}
